.decompte-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.decompte {
  font-family: sans-serif;
  font-size: 18vw;
}
